<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="controller.js"></script>
</head>
<body>

<div class="container" ng-app="myApp" ng-controller="formCtrl">
  <h2>Vaccine Registration</h2>
  <form name="myForm">
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname" placeholder="Enter First Name" name="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname" placeholder="Enter email" name="lastname" ng-model="lname" required>
        <span ng-show="myForm.lastname.$touched && myForm.lastname.$error.required">Last Name is required</span>
      </div>
    <div class="form-group">
      <label for="myemail">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="myemail"  ng-model="text" required>
      <span ng-show="myForm.myemail.$error.email">
        Not a valid e-mail address
        </span>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter Username" name="username" ng-model="uname"required>
        <span ng-show="myForm.username.$touched && myForm.username.$error.required">Username is required</span>
      </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" ng-model="pass" required>
      <span ng-show="myForm.pwd.$touched && myForm.pwd.$error.required">Password is required</span>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="Submit();">Submit</button>
  </form>
</div>

</body>
</html>
